<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启标准日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置数据源交给spring做-->
    <typeAliases>
        <package name="com.valid.pojo"/>
    </typeAliases>

    <!--注册Mapper-->
    <mappers>
        <mapper class="com.valid.dao.BookMapper" />
    </mappers>


</configuration>