<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.valid.dao.UserMapper">
    <select id="getUserList" resultType="com.valid.pojo.User">
        select * from mybatis.user
    </select>
    <select id="getUserById" resultType="com.valid.pojo.User">
        select * from mybatis.user where id=#{id}
    </select>

    <!--对象中的属性，可以直接取出来-->
    <insert id="insertUser" parameterType="com.valid.pojo.User">
        insert into mybatis.user values (#{id}, #{name}, #{pwd})
    </insert>

    <update id="updateUser" parameterType="com.valid.pojo.User">
        update mybatis.user set name=#{name}, pwd=#{pwd} where id=#{id}
    </update>
    
    <delete id="deleteUser">
        delete from mybatis.user where id=#{id}
    </delete>

    <!--map插入-->
    <insert id="addUser" parameterType="map">
        insert into mybatis.user(id, name, pwd) values (#{userid}, #{userName}, #{password})
    </insert>

    <!--map查询-->
    <select id="getUserByIdMap" parameterType="map" resultType="com.valid.pojo.User">
        select * from mybatis.user where id=#{id} and pwd=#{pwd}
    </select>

    <!--模糊查询-->
    <select id="getUserLike" resultType="com.valid.pojo.User">
        select * from mybatis.user where name like #{name}
    </select>
</mapper>